@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &__title {
            font-size: 62px;
        }
    }
    .product {
        &__body {
            grid-template-columns: repeat(3, 270px);
        }
    }
    .blog {
        &__body {
            justify-content: center;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__img {
            width: 370px;
            height: 451px;
        }
        &__title {
            font-size: 62px;
        }
        &__text {
            font-size: 21px;
            max-width: 464px;
        }
    }
    .product {
        &__body {
            grid-template-columns: repeat(2, 270px);
        }
    }
    .advertising {
        &__text {
            font-size: 38px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__list {
            display: none;
        }
    }
    .hamburger {
        display: block;
        margin-left: 20px;
    }
    .promo {
        &__img {
            width: 320px;
            height: 439px;
        }
        &__title {
            font-size: 44px;
        }
        &__text {
            font-size: 16px;
        }
    }
    .product {
        &__body {
            justify-content: center;
            grid-template-columns: repeat(1, 270px);
        }
    }
    .advertising {
        padding-top: 43px;
        &__text {
            font-size: 33px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__title {
            font-size: 25px;
            margin-bottom: 8px;
        }
        &__text {
            font-size: 12px;
            margin-bottom: 25px;
        }
        &__content {
            top: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .advertising {
        &__text {
            font-size: 26px;
            &_fz {
                font-size: 23px;
            }
        }
    }
    .blog {
        &__content {
            flex-direction: column;
        }
    }
    .info {
        &__descr {
            font-size: 30px;
            line-height: 42px;
        }
        &__text {
            font-size: 13px;
        }
    }
    .footer {
        &__contact {
            a {
                font-size: 9px;
            }
        }
    }
}